{
    "presets": [
        "env",
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-runtime",
        "transform-class-properties",
        "transform-es2015-classes"
    ],
    "env": {
        "test": {
            "plugins": [
                ["emotion", { "inline": true }]
            ]
        }
    }
}
