# Git
.git
.gitignore
.gitattributes
.github

 # Build step outputs
build
.happypack

 # Docker configuration
.dockerignore
Dockerfile
docker-compose*.yml
skaffold.yaml

 # NPM dependencies
node_modules/
package-lock.json

 # Other
.cicd/
coverage/
charts/
test/
tools/
.csslintrc
.editorconfig
.eslintignore
.eslintrc.js
Jenkinsfile
LICENSE
jest.png
README.md
