
.DS_STORE
node_modules
.grunt
_SpecRunner.html
__benchmarks__
build/
release/
.module-cache
*.gem
docs/.bundle
docs/code
docs/_site
docs/.sass-cache
docs/js/*
docs/downloads
docs/vendor/bundle
examples/shared/*.js
headband/src/frontend/js/api/test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
.happypack
release

src/electron/main.prod.js*

# Secrets used in dev
devsecret.js
encryption/*
.well-known

# custom deploy script
tools/deploy.js
