@import 'lato';

html, body, #root, #root > div {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    color: #4b6073;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;

    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

h1, h2, h3, h4 {
    margin: 0;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: none; /* 2 */
}
