<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
    <meta name="description" content="<%= htmlWebpackPlugin.options.META_DESCRIPTION %>"/>
    <meta name="theme-color" content="#000">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.publicPath %>manifest.json">
    <link rel="icon" sizes="192x192" href="<%= htmlWebpackPlugin.options.publicPath %>launcher-icon-high-res.png">
</head>
<body>
<noscript>
    <div>Please enable javascript in your browser for displaying this website.</div>
</noscript>
<div id="root"></div>
<%= htmlWebpackPlugin.options.serviceWorker %>
</body>
</html>
